
.sloomoo-holiday-wish-header{
    font-size: 24px;
    line-height: 100%;
    font-family: 'Quicksand';
    color: #fff6f6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    }
