
.sloomoos-holiday-wish{
    font-size: 40px;
    line-height: 100%;
    font-family: 'Leckerli One';
    color: #fff6f6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.sloomoovies {
  margin: 0;
  font-weight: 500;
}

.presents {
  margin: 0;
 }

.sloomoovies-presents {
  font-size: 24px;
  line-height: 100%;
  color: #000;
  font-family: 'Quicksand';
  }